body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    margin-top: 10px;
}

.footer a {
    color: #007BFF;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
.back-button {
    position: fixed; /* Fixa o botão na tela */
    top: 20px; /* Distância do topo */
    left: 20px; /* Distância da esquerda */
    background-color: #6c757d; /* Cor de fundo para o botão de voltar */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor para pointer */
    font-size: 16px; /* Tamanho da fonte */
    padding: 10px; /* Espaçamento interno */
    z-index: 1000; /* Garante que o botão esteja acima de outros elementos */
}

.back-button:hover {
    background-color: #5a6268; /* Cor do botão ao passar o mouse */
}
